body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding-top: 70px; /* Adjust the value to match the height of your navbar */
  }

.registration-page {
    padding: 50px;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .icon-card {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
    background-color: #e1e1e1;
  }
  
  .icon-card:hover {
    transform: scale(1.1);
  }
  
  .registration-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, select, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-submit {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-cancel {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  